{% extends "layout.html" %}

{% block sidebar %}

    <a href="/estabelecimentos"><i class="fa-solid fa-hospital"></i> Estabelecimentos</a>
    <a class="sidebar-active" href="/idades"><i class="fa-solid fa-calendar"></i> Idades</a>
    <a href="/municipios"><i class="fa-solid fa-house"></i> Municípios</a>
    <a href="/raca"><i class="fa-solid fa-person"></i> Raça e Etnia</a>
    <a href="/cid"><i class="fa-solid fa-notes-medical"></i> CID Principal</a>
    <a href="/cobertura"><i class="fa-solid fa-house-medical"></i> Cobertura de ESF</a>
    <a href="/situacaorua"><i class="fa-solid fa-hand-holding-heart"></i> Situação de Rua</a>
    <a href="/sexo"><i class="fa-solid fa-mars-and-venus"></i> Sexo</a>
    <a href="/droga"><i class="fa-solid fa-wine-bottle"></i> Tipo de Droga</a>
    <a href="/local"><i class="fa-solid fa-location-pin"></i> Local do Atendimento</a>
    <a href="/procedimento"><i class="fa-solid fa-hospital-user"></i> Procedimento Realizado</a>

{% endblock %}

{% block titulosecao %}

    <h2>Idades</h2>
    <br/>
    <hr>
    <br/>
    <p><i class="fa-solid fa-house"></i> / Idade dos pacientes atendidos entre os anos de 2014 e 2023</p>

{% endblock %}